SITE_ID=yourSitename

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Comma-separated list of allowed dev origins for cross-origin requests
# Only needed if accessing dev server from custom local hostname
# Example: NEXT_PUBLIC_ALLOWED_DEV_ORIGINS=bozos-laptop.local
NEXT_PUBLIC_ALLOWED_DEV_ORIGINS=

OPENAI_API_KEY=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=test-1
PINECONE_MODEL_NAME=text-embedding-3-large
PINECONE_MODEL_DIMENSIONS=3072
PINECONE_INGEST_INDEX_NAME=test-1
PINECONE_INGEST_MODEL_NAME=text-embedding-3-large
PINECONE_INGEST_MODEL_DIMENSIONS=3072
PINECONE_CLOUD=aws
PINECONE_REGION=us-west-2

# NOTE: every site should have a unique GOOGLE_APPLICATION_CREDENTIALS
GOOGLE_APPLICATION_CREDENTIALS={"type":"service_account",...}
FIRESTORE_EMULATOR_HOST="127.0.0.1:8080"

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# Login password:
# Generate new password with node bin/generateHashedPassword.js new-passwd at cmd line.
SITE_PASSWORD='your generated password here'
LAST_PASSWORD_CHANGE_TIMESTAMP=<< timestamp from generateHashedPassword.js script >>

SECURE_TOKEN=
SECURE_TOKEN_HASH=

# Superuser password to get SU cookie.
# Generate new password with node bin/generateHashedPassword.js new-passwd at cmd line.
# (note, all $ characters need to be escaped)
SUDO_PASSWORD='your generated password here'
# any secret key string for encrypting cookies
SECRET_KEY=

# AWS Stuff -- ananda version, needs to change:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
NEXT_PUBLIC_S3_BUCKET_NAME=
NEXT_PUBLIC_S3_REGION=

CONTACT_EMAIL=
OPS_ALERT_EMAIL="ops@test.com"
